*.a
/aclocal.m4
/autom4te.cache/
/common/python_wrapper
/common/tools_version.py
/config/
/config.h*
/config.log
/config.status
/configure
.deps/
/flint/mstflint
*.la
.libs/
/libtool
*.lo
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
Makefile
Makefile.in
/mlxconfig/mstconfig
/mlxconfig/mstprivhost
/mlxlink/mstlink
/mlxreg/mstreg
/mstdump/crd_main/mstregdump
/mstflint.spec
*.o
/resourcedump/mstresourcedump
/small_utils/mstcongestion
/small_utils/mstfwreset
/small_utils/mstmcra
/small_utils/mstmread
/small_utils/mstmtserver
/small_utils/mstmwrite
/small_utils/mstvpd
*.so
/stamp-h1
/tracers/fwtrace/mstfwtrace
