*.a
*.o
*.lo
*.so
.deps/

Makefile
Makefile.in


/aclocal.m4
/autom4te.cache/
/common/gitversion.h
/common/python_wrapper
/common/tools_version.py
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
config/
/configure
flint/mstflint
libtool
/m4/*.m4
/mlxconfig/mstconfig
/mlxconfig/mstprivhost
/mstdump/crd_main/mstregdump
/mstflint.spec
/resourcedump/mstresourcedump
/small_utils/mstcongestion
/small_utils/mstfwreset
/small_utils/mstmcra
/small_utils/mstmread
/small_utils/mstmtserver
/small_utils/mstmwrite
/small_utils/mstvpd
/stamp-h1
/tracers/fwtrace/mstfwtrace
