Source: mstflint
Section: net
Priority: extra
Maintainer: Gal Sivan <gsivan@unknown>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: http://www.mellanox.com
#Vcs-Git: git://git.debian.org/collab-maint/mstflint.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mstflint.git;a=summary

Package: mstflint
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mellanox firmware burning application
 This package contains firmware update tool, vpd dump and register dump tools
 for network adapters based on Mellanox Technologies chips.
